.main {
    border: 1px solid black;
    width: 45%;
    padding: 10px;
}
.nt {
    border: 1px solid black;
    padding: 10px;
}

.td {
    border: 1px solid black;
    padding: 10px;
    margin-top: 1px;
}